{{/*
  Partial: cusdis.html
  Usage: partial "cusdis.html" (dict "pageID" .RelPermalink "pageURL" .Permalink "pageTitle" .Title "appID" "your-app-id" "host" "https://cusdis.com")
*/}}
{{ $pageID := .pageID | default "unknown" }}
{{ $pageURL := .pageURL | default "/" }}
{{ $pageTitle := .pageTitle | default "" }}
{{ $appID := .appID | default "your-cusdis-app-id" }}
{{ $host := .host | default "https://cusdis.com" }}

<div id="cusdis_thread" class="mt-4 min-h-[240px] rounded-2xl border border-dashed border-slate-300 bg-white p-4 dark:border-slate-700 dark:bg-slate-900"
     data-host="{{ $host }}"
     data-app-id="{{ $appID }}"
     data-page-id="{{ $pageID }}"
     data-page-url="{{ $pageURL }}"
     data-page-title="{{ $pageTitle }}">
</div>

<script>
  (function() {
    if (window.CUSDIS_LOADED) return;
    var d = document, s = d.createElement('script');
    s.src = '{{ $host }}/js/cusdis.es.js';
    s.defer = true;
    s.onload = function(){ window.CUSDIS_LOADED = true; };
    d.head.appendChild(s);
  })();
</script>
